.Tab .body::after {
  transition: opacity var(--d-fast) ease-in-out;
}

@media (max-width: 40px) {
  /* Collapse the bookmarks to a single level when the sidebar is not hovered/minimised */
  #root {
    --tabs-indent: 0px !important;
  }

  /* Hide the level marks when collapsed */
  #root[data-tabs-tree-lvl-marks="true"]
    .Tab[data-pin="false"]:not([data-lvl="0"])
    .body::after {
    opacity: 0;
  }
}

.BottomBar {
  bottom: 38px;
  background-color: var(--frame-bg);
}

.TabsPanel .new-tab-btns {
  bottom: 38px;
  z-index: 100;
}
