@media (max-width: 40px) {
  #root {
    --tabs-indent: 0px !important;
  }
}

.BottomBar {
  bottom: 64px;
  background-color: var(--frame-bg);
}

.TabsPanel .new-tab-btns {
  bottom: 64px;
  z-index: 100;
}
