/* Sidebery mods */
@import url(styles/sideberyModsLeft.css);

:root {
  --tabs-border-color: transparent !important;
}

#sidebar-header,
#sidebar-splitter {
  display: none;
}

/* Hide the tabs when Sidebery visible */
#TabsToolbar-customization-target {
  height: 0 !important;
  overflow: hidden;
}

/* Make the titlebar show in front of the address bar, so that the minimize, maximize, close buttons are visible */
#titlebar {
  z-index: 1;
  pointer-events: none;
}

.titlebar-spacer {
  display: none;
}

/* Make the application min-maximize-close buttons height match the address bar */
.titlebar-buttonbox-container {
  height: 40px;
  pointer-events: auto;
}

/* Push up the address bar */
#nav-bar {
  margin-top: -41px;
}

/* Reduce width of address bar so app buttons have enought room to appear */
#nav-bar-customization-target {
  max-width: calc(100vw - 200px);
  overflow-x: clip;
}
